<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net, Version=2.0.15.0, Culture=neutral, PublicKeyToken=669e0ddf0bb1aa2a" />
	</configSections>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<probing privatePath="Libs" />
			<dependentAssembly>
				<assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.3.0.0" newVersion="5.3.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<log4net>
		<!-- Setup the root category, add the appenders and set the default priority  Off, Fatal, Error, Warn, Info, Debug, All.-->
		<root>
			<level value="Error" />
			<appender-ref ref="ErrorAppender" />
			<appender-ref ref="TraceAppender" />
		</root>
		<appender name="ErrorAppender" type="log4net.Appender.RollingFileAppender">
			<param name="File" value="Logs\Errors.log" />
			<param name="AppendToFile" value="true" />
			<param name="RollingStyle" value="Size" />
			<param name="MaxSizeRollBackups" value="10" />
			<param name="MaximumFileSize" value="1MB" />
			<param name="StaticLogFileName" value="true" />
			<lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
			<layout type="log4net.Layout.PatternLayout">
				<!--header value="[Application Starts]&#13;&#10;" />
				<footer value="[Application Stops]&#13;&#10;" /-->
				<param name="ConversionPattern" value="%date{yyyy-dd-MM HH:mm:ss} [%thread] %-5level %logger{3} - %message%newline" />
			</layout>
		</appender>
		<appender name="TraceAppender" type="log4net.Appender.TraceAppender">
			<layout type="log4net.Layout.PatternLayout">
				<param name="ConversionPattern" value="%date{yyyy-dd-MM HH:mm:ss} [%thread] %-5level %logger{3} - %message%newline" />
			</layout>
		</appender>
		<logger name="LOGGER">
			<appender-ref ref="ErrorAppender" />
			<appender-ref ref="TraceAppender" />
		</logger>
	</log4net>
</configuration>
